* {
  margin: 0;
  padding: 0;
}
.App {
  margin: 20px;
  text-align: center;
}
h1{
  padding-bottom: 20px;
}
.todolist{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
